<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-primary fw-bold" [routerLink]="['.']">CEA <i class="fa-solid fa-shield-halved"></i> SALUD</a>

    <ul class="navbar-nav">
      <!-- Avatar -->
      <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">Hola {{ usuario?.displayName || 'Usuario' }}</strong>
        </a>
        <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li *ngFor="let ruta of rutas">
            <a class="dropdown-item" [routerLink]="ruta.path">{{ ruta.title }}</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="cerrarSesion_click()">Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->