<div class="container">
    <div #export class="row">
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porEspecialidadOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porDiaOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porSolicitadosOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porFinalizadosOptions"
            ></highcharts-chart>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="exportar()" class="btn btn-dark"><i class="fas fa-download"></i> Exportar</button>
      </div>
    </div>
</div>