<div class="container">
    <div class="row">
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porEspecialidadOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porDiaOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porSolicitadosOptions"
            ></highcharts-chart>
        </div>
        <div class="col-6">
            <highcharts-chart 
              [Highcharts]="Highcharts"
              [options]="porFinalizadosOptions"
            ></highcharts-chart>
        </div>
    </div>
</div>