<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LNCK</a>
    <button class="navbar-toggler" type="button" (click)="noListNav.toggle()" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse #noListNav="mdbCollapse">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="#">Pacientes</a>
        <a class="nav-link" href="#">Especialistas</a>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-danger px-3 me-2">
          Nuevo administrador
        </button>
        <button class="btn btn-primary me-3" (click)="cerrarSesion()">
          Cerrar sesión
        </button>
        <span class="navbar-text"> {{ email }} </span>
      </div>
    </div>
  </div>
</nav>

<app-spinner [condicion]="this.spinner"></app-spinner>
