.container-fluid {
    height: 100vh;
}

.profile {
    height: 100px;
}

.background {
    background-image: url('../../assets/bienvenido-lg.jpg');
    background-size: cover;
    background-position: center;
}