<div mdbDropdown class="dropdown">
  <button mdbDropdownToggle type="button" class="btn btn-link btn-sm btn-rounded dropdown-toggle hidden-arrow">
    <i class="fas fa-cog fa-2x"></i>
  </button>
  <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
    <li *ngIf="!(aceptado || realizado || cancelado || rechazado)" (click)="cambiarEstado('Rechazado')">
      <span class="dropdown-item text-danger">Rechazar turno</span>
    </li>
    <li *ngIf="!(aceptado || realizado || cancelado || rechazado)" (click)="cambiarEstado('Aceptado')">
      <span class="dropdown-item text-success">Aceptar turno</span>
    </li>
    <li *ngIf="aceptado" (click)="cambiarEstado('Cancelado')">
      <span class="dropdown-item text-danger">Cancelar turno</span>
    </li>
    <li *ngIf="aceptado" (click)="cambiarEstado('Realizado')">
      <span class="dropdown-item text-success">Finalizar turno</span>
    </li>
    <li *ngIf="turno.comentarios" (click)="verComentarios()">
      <span class="dropdown-item text-primary">Ver reseña</span>
    </li>
  </ul>
</div>