<div mdbDropdown class="dropdown">
  <button mdbDropdownToggle type="button" class="btn btn-link btn-sm btn-rounded dropdown-toggle hidden-arrow">
    <i class="fas fa-cog fa-2x"></i>
  </button>
  <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
    <li *ngIf="!aceptado || !realizado || !rechazado">
      <span class="dropdown-item text-danger">Cancelar turno</span>
    </li>
    <li *ngIf="!aceptado || !realizado || !cancelado">
      <span class="dropdown-item text-warning">Rechazar turno</span>
    </li>
    <li *ngIf="!rechazado || !realizado || !cancelado">
      <span class="dropdown-item text-success">Aceptar turno</span>
    </li>
    <li *ngIf="aceptado">
      <span class="dropdown-item text-danger">Finalizar turno</span>
    </li>
    <li *ngIf="turno.comentarios">
      <span class="dropdown-item text-primary">Ver reseña</span>
    </li>
  </ul>
</div>