<div class="container-fluid">
  <div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-primary">Alta de usuario</h2>
    <mdb-tabs class="p-3" [justified]="true">
      <mdb-tab title="Paciente">
        <ng-template mdbTabContent>
          <form-paciente></form-paciente>
        </ng-template>
      </mdb-tab>
      <mdb-tab title="Especialista">
        <ng-template mdbTabContent>
          <form-especialista></form-especialista>
        </ng-template>
      </mdb-tab>
    </mdb-tabs>
    <span>¿Ya tenés usuario?</span>
    <button class="btn btn-outline-primary" [routerLink]="['', 'login']">Iniciá sesión</button>
  </div>
</div>