<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="text-center">
  <div class="row mb-2">
    <div class="col-md-6">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="text" id="nombre" class="form-control form-control-lg"
          formControlName="nombre" required />
        <label mdbLabel class="form-label" for="nombre">Nombre</label>
        <mdb-error class="mt-2" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
          Ingrese su nombre
        </mdb-error>
      </mdb-form-control>
    </div>
    <div class="col-md-6">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="text" id="apellido" class="form-control form-control-lg"
          formControlName="apellido" required />
        <label mdbLabel class="form-label" for="apellido">Apellido</label>
        <mdb-error class="mt-2" *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)">
          Ingrese su apellido
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput (keydown)="validarNumero($event)" type="text" id="edad"
          class="form-control form-control-lg" formControlName="edad" required />
        <label mdbLabel class="form-label" for="edad">Edad</label>
        <mdb-error class="mt-2" *ngIf="edad?.invalid && (edad?.dirty || edad?.touched)">
          Ingrese su edad
        </mdb-error>
      </mdb-form-control>
    </div>
    <div class="col-md-8">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput (keydown)="validarNumero($event)" type="text" id="dni"
          class="form-control form-control-lg" formControlName="dni" required />
        <label mdbLabel class="form-label" for="dni">DNI (sin puntos)</label>
        <mdb-error class="mt-2" *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
          Ingrese un número de DNI válido
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <mdb-form-control class="mb-4">
        <select mdbValidate mdbInput type="text" id="especialidad" class="form-control form-control-lg"
          formControlName="especialidad" required>
          <option *ngFor="let opt of especialidades" [value]="opt">{{ opt }}</option>
        </select>
        <label mdbLabel class="form-label" for="especialidad">Especialidad</label>
        <mdb-error class="mt-2" *ngIf="especialidad?.invalid && (especialidad?.dirty || especialidad?.touched)">
          Ingrese su especialidad
        </mdb-error>
      </mdb-form-control>
    </div>
    <div class="col-6" *ngIf="especialidad?.value === 'Otra'">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="text" id="otraEspecialidad" class="form-control form-control-lg"
          formControlName="otraEspecialidad" required>
        <label mdbLabel class="form-label" for="otraEspecialidad">Especialidad (Otra)</label>
        <mdb-error class="mt-2"
          *ngIf="otraEspecialidad?.invalid && (otraEspecialidad?.dirty || otraEspecialidad?.touched)">
          Ingrese su especialidad
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="email" id="mail" class="form-control form-control-lg" formControlName="mail"
          required />
        <label mdbLabel class="form-label" for="mail">Mail</label>
        <mdb-error class="mt-2" *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)">
          Ingrese su dirección de mail
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="password" id="password" class="form-control form-control-lg"
          formControlName="password" required />
        <label mdbLabel class="form-label" for="password">Contraseña</label>
        <mdb-error class="mt-2" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          Ingrese una contraseña válida
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="password" id="password2" class="form-control form-control-lg"
          formControlName="password2" required />
        <label mdbLabel class="form-label" for="password2">Repetir contraseña</label>
        <mdb-error class="mt-2" *ngIf="password2?.invalid && (password2?.dirty || password2?.touched)">
          La contraseña no coincide
        </mdb-error>
      </mdb-form-control>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-8 text-start">
      <label for="imagen" class="form-label">Imágen de perfil</label>
      <input class="form-control form-control-sm" id="imagen" type="file" (change)="imagen_change($event)" />
    </div>
    <div class="col-3">
      <img *ngIf="rutaImagen" [src]="rutaImagen" alt="Foto de perfil">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Continuar</button>
</form>