<div class="container border-primary p-4">
    <h3>Registro de paciente nuevo</h3>
    <form class="border-bottom mb-3" [formGroup]="formulario" (ngSubmit)="enviarCredenciales()">
        <div class="row m-3">
            <section class="col-md-6">
                <div class="form-floating input m-3">
                    <input class="form-control" type="text" id="nombre" formControlName="nombre" placeholder="Nombre" required>
                    <label class="text-muted" for="nombre">Nombre</label>
                    <div *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.touched || formulario.get('nombre')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('nombre')?.errors?.['required']">
                            El nombre es requerido
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="text" id="apellido" formControlName="apellido" placeholder="Apellido" required>
                    <label class="text-muted" for="apellido">Apellido</label>
                    <div *ngIf="formulario.get('apellido')?.invalid && (formulario.get('apellido')?.touched || formulario.get('apellido')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('apellido')?.errors?.['required']">
                            El apellido es requerido
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="text" id="edad" formControlName="edad" placeholder="Edad" 
                        required (keydown)="validarNumero($event)">
                    <label class="text-muted" for="edad">Edad</label>
                    <div *ngIf="formulario.get('edad')?.invalid && (formulario.get('edad')?.touched || formulario.get('edad')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('edad')?.errors?.['required']">
                            La edad es requerida
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="text" id="dni" formControlName="dni" placeholder="DNI (sólo números)" 
                        required minlength="7" maxlength="8" (keydown)="validarNumero($event)">
                    <label class="text-muted" for="dni">DNI (sólo números)</label>
                    <div *ngIf="formulario.get('dni')?.invalid && (formulario.get('dni')?.touched || formulario.get('dni')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('dni')?.errors?.['required']">
                            El DNI es requerido
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="text" id="obra_social" formControlName="obra_social" placeholder="Obra Social" required>
                    <label class="text-muted" for="obra_social">Obra Social</label>
                    <div *ngIf="formulario.get('obra_social')?.invalid && (formulario.get('obra_social')?.touched || formulario.get('obra_social')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('obra_social')?.errors?.['required']">
                            La obra social es requerida
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="email" id="correo" formControlName="correo" placeholder="Correo electrónico" required>
                    <label class="text-muted" for="correo">Correo electrónico</label>
                    <div *ngIf="formulario.get('correo')?.invalid && (formulario.get('correo')?.touched || formulario.get('correo')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('correo')?.errors?.['required']">
                            El correo es requerido
                        </small>
                        <small *ngIf="formulario.get('correo')?.errors?.['pattern']">
                            El formato del correo es incorrecto
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="password" id="clave" formControlName="clave" placeholder="Contraseña" required [pattern]="this.formulario.get('clave_verificacion')?.value">
                    <label class="text-muted" for="clave">Contraseña</label>
                    <div *ngIf="formulario.get('clave')?.invalid && (formulario.get('clave')?.touched || formulario.get('clave')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('clave')?.errors?.['required']">
                            La contraseña es requerida
                        </small>
                    </div>
                </div>
                <div class="form-floating input m-3">
                    <input class="form-control" type="password" id="clave_verificacion" formControlName="clave_verificacion" placeholder="Repetí tu contraseña" required [pattern]="this.formulario.get('clave')?.value">
                    <label class="text-muted" for="clave_verificacion">Repetí tu contraseña</label>
                    <div *ngIf="formulario.get('clave_verificacion')?.invalid && (formulario.get('clave_verificacion')?.touched || formulario.get('clave_verificacion')?.dirty)"
                        class="text-danger">
                        <small *ngIf="formulario.get('clave_verificacion')?.errors?.['confirmFormControl']">
                            La contraseña no coincide
                        </small>
                    </div>
                </div>
            </section>
            <section class="col-md-5">
                <div class="row m-3">
                    <div class="input col-8">
                        <label class="form-label" for="imagen_a">Imágen de perfil 1</label>
                        <input type="file" class="form-control" id="imagen_a" (change)="imagenA_change($event)" />
                    </div>
                    <div class="col-3">
                        <img *ngIf="rutaImagenA" [src]="rutaImagenA" alt="Foto de perfil" style="height: 100px;">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="input col-8">
                        <label class="form-label" for="imagen_b">Imágen de perfil 2</label>
                        <input type="file" class="form-control" id="imagen_b" (change)="imagenB_change($event)" />
                    </div>
                    <div class="col-3">
                        <img *ngIf="rutaImagenB" [src]="rutaImagenB" alt="Foto de perfil" style="height: 100px;">
                    </div>
                </div>
            </section>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-5 m-3">
                <input [disabled]="formulario.invalid" type="submit" class="btn btn-success w-100 p-3 mb-4" value="Registrarse" />
            </div>
        </div>
    </form>
    <p class="text-center">¿Ya tenés un usuario? <a routerLink="../../login">Iniciá sesión</a></p>
    <p class="text-center">¿Sos un especialista? <a routerLink="../especialista">Llená este formulario</a></p>
</div>
